<div class="block">
    <h2 class="block__title">Регистрация</h2>

    <div class="form__line"></div>

    <form [formGroup]="form" class="form">
        <label class="form__label">
            Имя *
            <input type="text" formControlName="name" placeholder="Имя" class="form__input" />
            <span *ngIf="baseForm.checkInputValidity(form, 'name')">
                {{ baseForm.getValidationMessage(form, "name", this.auth.validationMessages) }}
            </span>
        </label>

        <label class="form__label">
            Фамилия *
            <input type="text" formControlName="surname" placeholder="Фамилия" class="form__input" />
            <span *ngIf="baseForm.checkInputValidity(form, 'surname')">
                {{ baseForm.getValidationMessage(form, "surname", this.auth.validationMessages) }}
            </span>
        </label>

        <label class="form__label">
            Электронная почта *
            <input type="text" formControlName="email" placeholder="Электронная почта" class="form__input" />
            <span *ngIf="baseForm.checkInputValidity(form, 'email')">
                {{ baseForm.getValidationMessage(form, "email", this.auth.validationMessages) }}
            </span>
        </label>

        <div class="form__label">
            Дата рождения *
            <input
                ngbDatepicker
                #d="ngbDatepicker"
                [(ngModel)]="date"
                placeholder="Дата рождения"
                formControlName="age"
                [minDate]="minDate"
                [maxDate]="maxDate"
                (click)="d.toggle()"
                class="form__input"
                readonly
            />
            <span *ngIf="form.errors?.['ageError']">{{ auth.validationMessages.age }}</span>
        </div>

        <label class="form__label">
            Пароль *
            <input type="text" formControlName="password" class="form__input" placeholder="Пароль" />
            <span *ngIf="baseForm.checkInputValidity(form, 'password')">
                {{ baseForm.getValidationMessage(form, "password", this.auth.validationMessages) }}
            </span>
        </label>

        <label class="form__label">
            Повторите пароль *
            <input
                type="password"
                formControlName="confirmPassword"
                class="form__input"
                placeholder="Повторите пароль"
            />
            <span *ngIf="form.errors?.['passwordmatcherror']">{{ auth.validationMessages.confirmPassword }}</span>
        </label>

        <div class="form__line form__line_bottom"></div>

        <app-button (click)="handleSubmit()" class="form__btn" [type]="baseForm.setButtonType(form)"
            >Зарегистрироваться</app-button
        >
    </form>
</div>
