<div class="block">
    <h2 class="block__title">Регистрация</h2>

    <div class="form__line"></div>

    <form [formGroup]="form" class="form">
        <label class="form__label">
            Имя *
            <input type="text" formControlName="name" placeholder="Имя" class="form__input" />
            <span *ngIf="auth.checkInputValidity(form, 'name')"> {{ auth.getValidationMessage(form, "name") }} </span>
        </label>

        <label class="form__label">
            Фамилия *
            <input type="text" formControlName="surname" placeholder="Фамилия" class="form__input" />
            <span *ngIf="auth.checkInputValidity(form, 'surname')">
                {{ auth.getValidationMessage(form, "surname") }}
            </span>
        </label>

        <label class="form__label">
            Электронная почта *
            <input type="text" formControlName="email" placeholder="Электронная почта" class="form__input" />
            <span *ngIf="auth.checkInputValidity(form, 'email')"> {{ auth.getValidationMessage(form, "email") }} </span>
        </label>

        <div class="form__label">
            Дата рождения *
            <input
                ngbDatepicker
                #d="ngbDatepicker"
                [(ngModel)]="date"
                placeholder="Дата рождения"
                formControlName="age"
                [minDate]="minDate"
                [maxDate]="maxDate"
                (click)="d.toggle()"
                class="form__input"
                readonly
            />
            <span *ngIf="form.errors?.['ageError']">{{ auth.validationMessages.age }}</span>
        </div>

        <label class="form__label">
            Пароль *
            <input type="text" formControlName="password" class="form__input" placeholder="Пароль" />
            <span *ngIf="auth.checkInputValidity(form, 'password')">
                {{ auth.getValidationMessage(form, "password") }}
            </span>
        </label>

        <label class="form__label">
            Повторите пароль *
            <input
                type="password"
                formControlName="confirmPassword"
                class="form__input"
                placeholder="Повторите пароль"
            />
            <span *ngIf="form.errors?.['passwordmatcherror']">{{ auth.validationMessages.confirmPassword }}</span>
        </label>

        <div class="form__line form__line_bottom"></div>

        <app-button (click)="handleSubmit()" class="form__btn" [type]="auth.setButtonType(form)"
            >Зарегистрироваться</app-button
        >

        <button routerLink="/home">to home</button>
    </form>
</div>
