@mixin form {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 30px;

    @media screen and (max-width: 767px) {
        grid-template-columns: 1fr;
    }

    &__label {
        position: relative;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;

        &_full {
            grid-column: -1 / 1;
        }

        span {
            position: absolute;
            top: 76px;
            left: 5px;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: red;
        }
    }

    &__input {
        margin-top: 5px;
        width: 100%;
        height: 48px;
        padding: 0 16px;
        box-sizing: border-box;
        border-radius: 8px;
        border: none;
        background-color: white;
        outline: none;
    }

    &__datepicker {
        margin-top: 5px;
        width: 100%;
        height: 48px;
        padding-left: 16px;
        box-sizing: border-box;
        border-radius: 8px;
        background-color: white;
        display: flex;
        overflow: hidden;

        &-btn {
            border: none;
            background-color: #4b70a6;
            padding: 0 12px;
        }

        input {
            outline: none;
            width: 100%;
            height: 100%;
            border: none;
        }
    }

    &__btn {
        grid-column: -1 / 1;
        margin-top: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border: none;
        width: 100%;
        height: 48px;
        border-radius: 8px;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        padding: 11px;
        transition: 0.2s;
    }

    &__line {
        grid-column: -1 / 1;
        height: 1px;
        background-color: #c9cdda;
        border-radius: 1px;
    }
}

@mixin modal {
    display: flex;
    flex-direction: column;
    gap: 25px;

    &__title {
        margin: 0;
    }
}
